body {
  font-family: 'Open Sans', sans-serif; }

.jumbotron {
  color: #fff; }

.cover-image {
  background-image: url(/images/coach_1.jpg);
  background-size: cover;
  background-position: 20% 52%;
  height: 320px; }

.header, .intro, .about {
  margin-bottom: 25px;
  margin-top: 25px; }

.intro {
  padding: 25px 0; }

.about {
  background-color: #eee;
  padding: 25px 0; }
  .about p {
    font-size: 20px;
    margin: 25px 0; }

.serge-photo {
  width: 200px;
  object-fit: cover;
  margin: 25px; }

a.phone {
  white-space: nowrap; }
