---
title: Welcome to Middleman
---
.container
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        p.navbar-text Сергей Довыдько. Профессиональный тренер по бегу в Минске.

  .jumbotron.cover-image.text-center
    h1.center.text-uppercase
      | Полумарафон
      br
      | Марафон
      br
      | Ультрамарафон
    h2
      | Тренируйся с профессиональным тренером.
      br
      | Персонально.
  .row
    .md-col-12
      h2 Обо мне
      |  Мой беговой опыт более 30 лет. Я участвовал во многих международных марафонах и ультрамарафонах. Дважды призер чемпионата Германии на 50км (второе место). Преодолел 82 км. в 6 часовом беге в Голландии. Преодолел 100км ночной забег в Бельгии в Торхауте и 100км во Франции в La Rochelle.
        Тренирую атлетов с 1992 года. Мои ученики в разные годы становились призерами и победителями международных марафонов во Вроцлаве (2:38), Варшаве 2012 (2:24), Балтиморе 2:20, Хартфорд 2:30, Риме 2:25, Дюссельдорфе 2:30, Познани 2010, командном Кубоке Европы на 10 000м. Участвовали в двух чемпионатах мира по полумарафону.
        Работаю с профессиональными спортсменами и любителями бега. Являюсь тренером академии бега YouCan. Тренировал команду dream-team к участию в Минском полумарафоне и команду VelcomБегом.
        Кроме того, я тренер высшей национальной категории и отвечаю за подготовку сборной команды БГУ по легкой атлетике.
